<div class="hero-unit">
	<h1><font color="green">VC</font>Drive</h1>
	<h2>- Members Page -</h2>
	<p>
		Now you've taken the first step and you're on the road to your dream. Keep walking...
	<p/>
	
	<p>
		<%= link_to "Start Now", courses_path, class: "btn btn-success btn-large"%>
	<p/>
</div>
