<div class="hero-unit">
	<h1>Welcome to <font color="green">VC</font>Drive</h1>
	<p>
		You've got the idea, we've got the strategy. Take our advice, you <strong>are</strong> ready! Join the new market and create something
		<%= link_to "inspiring", "http://onemonthrails.com" %>
		...
	<p/>
	<p>
		<%= link_to "Start Now", new_user_registration_path, class: "btn btn-success btn-large"%>
	<p/>
</div>